.btn:focus, .btn {
  box-shadow: none;
  border-color: rgba(0,0,0,0);
}

.nav-link.active.ontouch {
  color: #0e4a7e;
  font-size: 3vh;
}

.nav-link.ontouch {
  color: #353835;
  font-size: 16px;
}

#padable-container.toggled {
  padding-left: 0%;
}

#padable-container {
  padding-left: 18%;
}

#abs-card {
  position: absolute;
  z-index: 1001;
}

